[package]
name = "file-store"
publish = false

version.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
readme.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tempfile = { workspace = true } #unified
thiserror = "2.0.17"
tracing = { workspace = true } #unified
uuid = { workspace = true, features = ["v7"] } #unified
