[package]
name = "file-store"
publish = false

version.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
readme.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tempfile = "3.23.0"
thiserror = "2.0.17"
tracing = "0.1.41"
uuid = { version = "1.18.1", features = ["serde", "v4"] }
