[package]
name = "meili-snap"
publish = false

version.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
readme.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
insta = { workspace = true } #unified
md5 = { workspace = true } #unified
once_cell = { workspace = true } #unified
regex-lite = "0.1.8"
uuid = { workspace = true, features = ["serde", "v7"] } #unified
