# the milli project is a library
/target
/Cargo.lock

milli/target/

# datasets
*.csv
*.mmdb
*.svg
!*/logo-black.svg

# Snapshots
## ... large
*.full.snap
## ... unreviewed
*.snap.new

# Fuzzcheck data for the facet indexing fuzz test
milli/fuzz/update::facet::incremental::fuzz::fuzz/
