.idea/
.vscode/
/target
**/*.csv
**/*.json_lines
**/*.rs.bk
/*.mdb
/*.ms
/snapshots
/dumps
/bench
/_xtask_benchmark.ms
/benchmarks
.DS_Store

# Snapshots
## ... large
*.full.snap
## ... unreviewed
*.snap.new
## ... pending
*.pending-snap

# Tmp files
.tmp*

# Database snapshot
crates/meilisearch/db.snapshot

# Fuzzcheck data for the facet indexing fuzz test
crates/milli/fuzz/update::facet::incremental::fuzz::fuzz/

# OpenAPI generator
**/meilisearch-openapi.json
