[package]
name = "benchmarks"
publish = false

version.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
readme.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow = { workspace = true, features = ["backtrace"] } #unified
bumpalo = { workspace = true } #unified
csv = { workspace = true } #unified
http-client = { workspace = true } #unified
memmap2 = { workspace = true } #unified
milli = { workspace = true } #unified
mimalloc = { workspace = true } #unified
serde_json = { workspace = true, features = ["raw_value"] } #unified
tempfile = { workspace = true } #unified

[dev-dependencies]
criterion = { workspace = true } #unified
rand = { workspace = true, features = ["small_rng"] } #unified
rand_chacha = "0.3.1"
roaring = { workspace = true, features = ["serde"] } #unified

[build-dependencies]
anyhow = { workspace = true, features = ["backtrace"] } #unified
bytes = { workspace = true } #unified
convert_case = { workspace = true } #unified
flate2 = { workspace = true } #unified
reqwest = { workspace = true, features = ["json", "multipart", "rustls-tls-native-roots", "stream"] } #unified

[features]
default = ["milli/all-tokenizations"]

[[bench]]
name = "search_songs"
harness = false

[[bench]]
name = "search_wiki"
harness = false

[[bench]]
name = "search_geo"
harness = false

[[bench]]
name = "indexing"
harness = false

[[bench]]
name = "sort"
harness = false

[[bench]]
name = "filter_starts_with"
harness = false
