<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bulma.min.css">
  <link rel="stylesheet" href="/bulma-prefers-dark.min.css">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/filesize.min.js"></script>
  <title>{{ db_name }} | Updates</title>
</head>
<body>

    <section class="hero is-light">
    <div class="hero-body">
      <div class="container">

        <a href="/">
          <div class="columns is-flex is-centered mb-6">
              <figure class="image is-128x128">
                  <img id="logo-white" src="logo-white.svg" alt="milli logo in white">
                  <img id="logo-black" src="logo-black.svg" alt="milli logo in black">
              </figure>
          </div>
        </a>

        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Database Name</p>
              <p class="title">{{ db_name }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Database Size</p>
              <p class="title" id="db-size">{{ db_size }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Number of Documents</p>
              <p class="title" id="docs-count">{{ docs_count }}</p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <section>
    <ol id="results" class="content">

      {% for update in updates %}
        {% match update %}
        {% when UpdateStatus::Pending with { update_id, meta } %}
          <li id="update-{{ update_id }}" class="document">
            <ol>
              <li class="field">
                <div class="attribute">update id</div><div class="updateId content">{{ update_id }}</div>
                <div class="attribute">update status</div><div class="updateStatus content">pending</div>
              </li>
            </ol>
          </li>
        {% when UpdateStatus::Processed with { update_id, meta } %}
          <li id="update-{{ update_id }}" class="document">
            <ol>
              <li class="field">
                <div class="attribute">update id</div><div class="updateId content">{{ update_id }}</div>
                <div class="attribute">update status</div><div class="updateStatus content">processed</div>
              </li>
            </ol>
          </li>
        {% when UpdateStatus::Aborted with { update_id, meta } %}
          <li id="update-{{ update_id }}" class="document">
            <ol>
              <li class="field">
                <div class="attribute">update id</div><div class="updateId content">{{ update_id }}</div>
                <div class="attribute">update status</div><div class="updateStatus content">aborted</div>
              </li>
            </ol>
          </li>
        {% else %}
        {% endmatch %}
      {% endfor %}

    </ol>
  </section>

</body>

<script type="text/javascript" src="/updates-script.js"></script>

</html>
