#results {
  margin: 20px auto 0 auto;
}

#logo-white {
  display: none;
}

#logo-black {
  display: inherit;
}

.notification {
  display: flex;
  justify-content: center;
}

.document {
  padding: 20px 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
}

.document ol {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0;
  margin: 0;
}

.document .image {
  max-width: 25%;
  flex: 0 0 25%;
  padding-left: 30px;
  box-sizing: border-box;
}

.document .image img {
  width: 100%;
}

.field {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.field:not(:last-child) {
  margin-bottom: 7px;
}

.attribute {
  flex: 0 0 35%;
  max-width: 35%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  opacity: 0.7;
}

.content mark {
  background-color: hsl(204, 86%, 88%);
  color: hsl(204, 86%, 25%);
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  30% { opacity: 0.3; }
  100% { opacity: 1; }
}

.fade-in-out {
  animation: fadeInOut ease 1s infinite;
}

@media (prefers-color-scheme:dark) {
  #logo-white {
    display: inherit;
  }

  #logo-black {
    display: none;
  }

  .hero.is-light {
    background-color: #242424;
    color: inherit;
  }

  .hero.is-light .title {
    color: inherit;
  }

  .document {
    background-color: #242424;
  }

  .content {
    color: #dbdbdb;
  }

  .content mark {
    background-color: hsl(0, 0%, 35%);
    color: hsl(0,0%,90.2%);
  }
}
