name: Publish assets to GitHub release

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *" # Every day at 2:00am
  release:
    types: [published]

permissions:
  contents: read

jobs:
  check-version:
    name: Check the version validity
    runs-on: ubuntu-latest
    # No need to check the version for dry run (cron or workflow_dispatch)
    steps:
      - uses: actions/checkout@v5
      # Check if the tag has the v<nmumber>.<number>.<number> format.
      # If yes, it means we are publishing an official release.
      # If no, we are releasing a RC, so no need to check the version.
      - name: Check tag format
        if: github.event_name == 'release'
        id: check-tag-format
        run: |
          escaped_tag=$(printf "%q" ${{ github.ref_name }})

          if [[ $escaped_tag =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "stable=true" >> $GITHUB_OUTPUT
          else
            echo "stable=false" >> $GITHUB_OUTPUT
          fi
      - name: Check release validity
        if: github.event_name == 'release' && steps.check-tag-format.outputs.stable == 'true'
        run: bash .github/scripts/check-release.sh

  publish-binaries:
    name: Publish binary for ${{ matrix.release }} ${{ matrix.edition }} edition
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        edition: [community, enterprise]
        release:
          [macos-amd64, macos-aarch64, windows, linux-amd64, linux-aarch64]
        include:
          - edition: "community"
            feature-flag: ""
            edition-suffix: ""
          - edition: "enterprise"
            feature-flag: "--features enterprise"
            edition-suffix: "enterprise-"
          - release: macos-amd64
            os: macos-15-intel
            binary_path: release/meilisearch
            asset_name: macos-amd64
            extra-args: ""
          - release: macos-aarch64
            os: macos-14
            binary_path: aarch64-apple-darwin/release/meilisearch
            asset_name: macos-apple-silicon
            extra-args: "--target aarch64-apple-darwin"
          - release: windows
            os: windows-2022
            binary_path: release/meilisearch.exe
            asset_name: windows-amd64.exe
            extra-args: ""
          - release: linux-amd64
            os: ubuntu-22.04
            binary_path: x86_64-unknown-linux-gnu/release/meilisearch
            asset_name: linux-amd64
            extra-args: "--target x86_64-unknown-linux-gnu"
          - release: linux-aarch64
            os: ubuntu-22.04-arm
            binary_path: aarch64-unknown-linux-gnu/release/meilisearch
            asset_name: linux-aarch64
            extra-args: "--target aarch64-unknown-linux-gnu"
    needs: check-version
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Build
        run: cargo build --release --locked ${{ matrix.feature-flag }} ${{ matrix.extra-args }}
      # No need to upload binaries for dry run (cron or workflow_dispatch)
      - name: Upload binaries to release
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@2.11.2
        with:
          repo_token: ${{ secrets.MEILI_BOT_GH_PAT }}
          file: target/${{ matrix.binary_path }}
          asset_name: meilisearch-${{ matrix.edition-suffix }}${{ matrix.asset_name }}
          tag: ${{ github.ref }}

  publish-openapi-files:
    name: Publish OpenAPI files
    needs: check-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Generate OpenAPI files
        run: |
          cd crates/openapi-generator
          cargo run --release -- --pretty --debug --output ../../meilisearch-openapi.json
          cargo run --release -- --pretty --debug --with-mintlify-code-samples --output ../../meilisearch-openapi-mintlify.json
      - name: Upload OpenAPI file to Release
        # No need to upload for dry run (cron or workflow_dispatch)
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@2.11.2
        with:
          repo_token: ${{ secrets.MEILI_BOT_GH_PAT }}
          file: ./meilisearch-openapi.json
          asset_name: meilisearch-openapi.json
          tag: ${{ github.ref }}
      - name: Upload Mintlify OpenAPI file to Release
        # No need to upload for dry run (cron or workflow_dispatch)
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@2.11.2
        with:
          repo_token: ${{ secrets.MEILI_BOT_GH_PAT }}
          file: ./meilisearch-openapi-mintlify.json
          asset_name: meilisearch-openapi-mintlify.json
          tag: ${{ github.ref }}
