name: Test suite

on:
  workflow_dispatch:
  schedule:
    # Every day at 5:00am
    - cron: "0 5 * * *"
  pull_request:
  merge_group:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: "-D warnings"

jobs:
  test-linux:
    name: Tests on Ubuntu
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-24.04, ubuntu-24.04-arm]
        features: ["", "--features enterprise"]
    container:
      # Use ubuntu-22.04 to compile with glibc 2.35
      image: ubuntu:22.04
    steps:
      - uses: actions/checkout@v5
      - name: Install needed dependencies
        run: |
          apt-get update && apt-get install -y curl
          apt-get install build-essential -y
      - name: Setup test with Rust stable
        uses: dtolnay/rust-toolchain@1.89
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.1
      - name: Run cargo check without any default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --release --no-default-features --all
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --release --all ${{ matrix.features }}

  test-others:
    name: Tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, windows-2022]
        features: ["", "--features enterprise"]
    steps:
      - uses: actions/checkout@v5
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.1
      - uses: dtolnay/rust-toolchain@1.89
      - name: Run cargo check without any default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --release --no-default-features --all
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --release --all ${{ matrix.features }}

  test-all-features:
    name: Tests almost all features
    runs-on: ubuntu-latest
    container:
      # Use ubuntu-22.04 to compile with glibc 2.35
      image: ubuntu:22.04
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v5
      - name: Install needed dependencies
        run: |
          apt-get update
          apt-get install --assume-yes build-essential curl
      - uses: dtolnay/rust-toolchain@1.89
      - name: Run cargo build with almost all features
        run: |
          cargo build --workspace --locked --release --features "$(cargo xtask list-features --exclude-feature cuda,test-ollama)"
      - name: Run cargo test with almost all features
        run: |
          cargo test --workspace --locked --release --features "$(cargo xtask list-features --exclude-feature cuda,test-ollama)"

  ollama-ubuntu:
    name: Test with Ollama
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: ["", "--features enterprise"]
    env:
      MEILI_TEST_OLLAMA_SERVER: "http://localhost:11434"
    steps:
      - uses: actions/checkout@v5
      - name: Install Ollama
        run: |
          curl -fsSL https://ollama.com/install.sh | sudo -E sh
      - name: Start serving
        run: |
          # Run it in the background, there is no way to daemonise at the moment
          ollama serve &

          # A short pause is required before the HTTP port is opened
          sleep 5

          # This endpoint blocks until ready
          time curl -i http://localhost:11434

      - name: Pull nomic-embed-text & all-minilm
        run: |
          ollama pull nomic-embed-text
          ollama pull all-minilm

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --release --all --features test-ollama ollama ${{ matrix.features }}

  test-disabled-tokenization:
    name: Test disabled tokenization
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v5
      - name: Install needed dependencies
        run: |
          apt-get update
          apt-get install --assume-yes build-essential curl
      - uses: dtolnay/rust-toolchain@1.89
      - name: Run cargo tree without default features and check lindera is not present
        run: |
          if cargo tree -f '{p} {f}' -e normal --no-default-features | grep -qz lindera; then
            echo "lindera has been found in the sources and it shouldn't"
            exit 1
          fi
      - name: Run cargo tree with default features and check lindera is pressent
        run: |
          cargo tree -f '{p} {f}' -e normal | grep lindera -qz

  # We run tests in debug also, to make sure that the debug_assertions are hit
  test-debug:
    name: Run tests in debug
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        features: ["", "--features enterprise"]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.89
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.1
      - name: Run tests in debug
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --all ${{ matrix.features }}

  clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: ["", "--features enterprise"]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.89
        with:
          profile: minimal
          components: clippy
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.1
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets ${{ matrix.features }} -- --deny warnings

  fmt:
    name: Run Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@1.89
        with:
          profile: minimal
          toolchain: nightly-2024-07-09
          override: true
          components: rustfmt
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.1
      - name: Run cargo fmt
        # Since we never ran the `build.rs` script in the benchmark directory we are missing one auto-generated import file.
        # Since we want to trigger (and fail) this action as fast as possible, instead of building the benchmark crate
        # we are going to create an empty file where rustfmt expects it.
        run: |
          echo -ne "\n" > crates/benchmarks/benches/datasets_paths.rs
          cargo fmt --all -- --check
