name: Test suite

on:
  workflow_dispatch:
  schedule:
    # Every day at 5:00am
    - cron: "0 5 * * *"
  pull_request:
  merge_group:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: "-D warnings"

jobs:
  test-linux:
    name: Tests on Ubuntu
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-22.04, ubuntu-22.04-arm]
        features: ["", "--features enterprise"]
    steps:
      - uses: actions/checkout@v5
      - name: check free space before
        run: df -h
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - name: check free space after
        run: df -h
      - name: Setup test with Rust stable
        uses: dtolnay/rust-toolchain@1.91.1
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
        with:
          key: ${{ matrix.features }}
      - name: Run cargo build without any default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --no-default-features --all
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --all ${{ matrix.features }}

  test-windows:
    name: Tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
        features: ["", "--features enterprise"]
    if: github.event_name != 'merge_group'
    steps:
      - uses: actions/checkout@v5
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Run cargo build without any default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --no-default-features --all
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --all ${{ matrix.features }}

  test-macos:
    name: Tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        features: ["", "--features enterprise"]
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v5
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Run cargo build without any default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --no-default-features --all
      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --all ${{ matrix.features }}

  test-all-features:
    name: Tests almost all features
    runs-on: ubuntu-22.04
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Run cargo build with almost all features
        run: |
          cargo build --workspace --locked --features "$(cargo xtask list-features --exclude-feature cuda,test-ollama)"
      - name: Run cargo test with almost all features
        run: |
          cargo test --workspace --locked --features "$(cargo xtask list-features --exclude-feature cuda,test-ollama)"

  ollama-ubuntu:
    name: Test with Ollama
    runs-on: ubuntu-22.04
    env:
      MEILI_TEST_OLLAMA_SERVER: "http://localhost:11434"
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - name: Install Ollama
        run: |
          curl -fsSL https://ollama.com/install.sh | sudo -E sh
      - name: Start serving
        run: |
          # Run it in the background, there is no way to daemonise at the moment
          ollama serve &

          # A short pause is required before the HTTP port is opened
          sleep 5

          # This endpoint blocks until ready
          time curl -i http://localhost:11434

      - name: Pull nomic-embed-text & all-minilm
        run: |
          ollama pull nomic-embed-text
          ollama pull all-minilm

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked -p meilisearch --features test-ollama ollama

  test-disabled-tokenization:
    name: Test disabled tokenization
    runs-on: ubuntu-22.04
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Run cargo tree without default features and check lindera is not present
        run: |
          if cargo tree -f '{p} {f}' -e normal --no-default-features | grep -qz lindera; then
            echo "lindera has been found in the sources and it shouldn't"
            exit 1
          fi
      - name: Run cargo tree with default features and check lindera is pressent
        run: |
          cargo tree -f '{p} {f}' -e normal | grep lindera -qz

  build:
    name: Build in release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - name: Build
        run: cargo build --release --locked --target x86_64-unknown-linux-gnu

  clippy:
    name: Run Clippy
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        features: ["", "--features enterprise"]
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
        with:
          components: clippy
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets ${{ matrix.features }} -- --deny warnings -D clippy::todo

  fmt:
    name: Run Rustfmt
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
        with:
          components: rustfmt
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - name: Run cargo fmt
        # Since we never ran the `build.rs` script in the benchmark directory we are missing one auto-generated import file.
        # Since we want to trigger (and fail) this action as fast as possible, instead of building the benchmark crate
        # we are going to create an empty file where rustfmt expects it.
        run: |
          echo -ne "\n" > crates/benchmarks/benches/datasets_paths.rs
          cargo fmt --all -- --check

  declarative-tests:
    name: Run declarative tests
    runs-on: ubuntu-22.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - uses: dtolnay/rust-toolchain@1.91.1
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.8.0
      - name: Run declarative tests
        run: |
          cargo xtask test workloads/tests/*.json
